.tooltip,
.tooltip-top,
.tooltip-right,
.tooltip-left,
.tooltip-bottom {
  position: relative;
}

.tooltip-top,
.tooltip-left,
.tooltip-right,
.tooltip-bottom {
  cursor: pointer;
  // estilo do botao do tooltip
  display: flex;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: #707070;
  color: #e1e1e6;
}

.tooltip-content,
.tooltip-content::after {
  --scale: 0;
  --arrow-size: 8px;
  --tooltip-color: #484440;

  position: absolute;
  transform: translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  z-index: 2;
}

.tooltip-content {
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 250px;
  background: var(--tooltip-color);
  font-size: 14px;
}

.tooltip-content::after {
  content: "";
  border: var(--arrow-size) solid transparent;
}

/* TOP */

.tooltip-content-top,
.tooltip-content-top::after {
  left: 50%;
  transform-origin: bottom center;
}

.tooltip-content-top {
  top: -0.25rem;
  --translate-y: calc(-100% - (var(--arrow-size)));
  --translate-x: -50%;
}

.tooltip-top:hover ~ .tooltip-content-top,
.tooltip-content-top:hover,
.tooltip-content-top::after {
  --scale: 1;
}

.tooltip-content-top::after {
  --translate-y: calc(-1 * var(--arrow-size));

  top: calc(100% + (var(--arrow-size) / 2));
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

/* RIGHT */

.tooltip-content-right,
.tooltip-content-right::after {
  top: 50%;
  transform-origin: left center;
}

.tooltip-content-right {
  left: 100%;
  --translate-y: -50%;
  --translate-x: calc(var(--arrow-size) * 1.5);
}

.tooltip-right:hover ~ .tooltip-content-right,
.tooltip-content-right:hover,
.tooltip-content-right::after {
  --scale: 1;
}

.tooltip-content-right::after {
  --translate-y: calc(-1 * var(--arrow-size));
  --translate-x: calc(-1.5 * var(--arrow-size));

  left: 0;
  border-right-color: var(--tooltip-color);
  transform-origin: right center;
}

/* BOTTOM */

.tooltip-content-bottom,
.tooltip-content-bottom::after {
  left: 50%;
  transform-origin: top center;
}

.tooltip-content-bottom {
  bottom: -0.25rem;
  --translate-y: calc(100% + (var(--arrow-size)));
  --translate-x: -50%;
}

.tooltip-bottom:hover ~ .tooltip-content-bottom,
.tooltip-content-bottom:hover,
.tooltip-content-bottom::after {
  --scale: 1;
}

.tooltip-content-bottom::after {
  --translate-y: var(--arrow-size);

  bottom: calc(100% + (var(--arrow-size) / 2));
  border-bottom-color: var(--tooltip-color);
  transform-origin: top center;
}

/* LEFT */

.tooltip-content-left,
.tooltip-content-left::after {
  top: 50%;
  transform-origin: right center;
}

.tooltip-content-left {
  right: 100%;
  --translate-y: -50%;
  --translate-x: calc(var(--arrow-size) * -1.5);
}

.tooltip-left:hover ~ .tooltip-content-left,
.tooltip-content-left:hover,
.tooltip-content-left::after {
  --scale: 1;
}

.tooltip-content-left::after {
  --translate-y: calc(-1 * var(--arrow-size));
  --translate-x: calc(1.5 * var(--arrow-size));

  right: 0;
  border-left-color: var(--tooltip-color);
  transform-origin: left center;
}
