<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript" src="./index.js" defer=""></script>
    <link rel="stylesheet" href="./index.css">
  </head>

  <body>
    <div class="container">
      <div>
        <div class="tooltip tooltip-top" data-tooltip="My tooltip on top" data-direction="top">
          <span>tooltip on top</span>
        </div>

        <div class="tooltip tooltip-right" data-tooltip="My tooltip on right" data-direction="top">
          <span>tooltip on right</span>
        </div>

        <div class="tooltip tooltip-bottom" data-tooltip="My tooltip on bottom" data-direction="top">
          <span>tooltip on bottom</span>
        </div>

        <div class="tooltip tooltip-left" data-tooltip="My tooltip on left" data-direction="top">
          <span>tooltip on left</span>
        </div>
      </div>
    </div>
  </body>

</html>