<div class="container">
  <div>
    <tooltip-provider direction="top">
      <tooltip-trigger trigger>
        <span>Tooltip top</span>
      </tooltip-trigger>
      <tooltip-content content>
        <ng-container>Precisa de ajuda? Clique
          <button (click)="toggleModal()">aqui</button>
        </ng-container>
      </tooltip-content>
    </tooltip-provider>

    <tooltip-provider direction="left">
      <tooltip-trigger trigger>
        <span>Tooltip left</span>
      </tooltip-trigger>
      <tooltip-content content>
        <span>
          My tooltip on <strong>left</strong>
        </span>
      </tooltip-content>
    </tooltip-provider>

    <tooltip-provider direction="right">
      <tooltip-trigger trigger>
        <span>Tooltip right</span>
      </tooltip-trigger>
      <tooltip-content content>
        <span>
          My tooltip on <u>right</u>
        </span>
      </tooltip-content>
    </tooltip-provider>

    <tooltip-provider direction="bottom">
      <tooltip-trigger trigger>
        <span>Tooltip bottom</span>
      </tooltip-trigger>
      <tooltip-content content>
        <p>
          My tooltip on
        <a target="__blank" href="https://github.com/kauelima21/venus"
          >bottom</a
        >
        </p>
      </tooltip-content>
    </tooltip-provider>
  </div>

  <app-teste />
</div>

<div class="modal-container" *ngIf="show">
  <div class="modal-content">
    por que voce me clicou? >:(
    <button (click)="toggleModal()">fechar</button>
  </div>
</div>
